<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12c ol-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
<table>
     <thead>
<tr>
<th scope="col" >Name</th>
<th scope="col">Friend Name</th>
<th scope="col">Describe your Friend</th>
<th scope="col">Friend Nickname</th>


</tr>
     </thead>
     <tbody>
<tr *ngFor="let i of friend">
    
        <td>{{i.name}}</td>
        <td>{{i.friendname}}</td>
        <td>{{i.DescribeYourFriend}}</td>
        <td>{{i.friendNickName}}</td>
</tr>
     </tbody>
</table>
        </div>
    </div>
    </div>